.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movie-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 15px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition:transform 1s;
  }
  .movie-card:hover {
    transform: scale(1.15);
  }
  .movie-poster {
    width: 100%;
    height: auto;
  }
  